.container {
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-mobile {
  border: 6px solid #2a6fdb;
  border-radius: 20px;
  min-width: 368px;
  height: 730px;
  overflow-y: scroll;
}

.hero-banner {
  position: relative;
}

.child-hero-banner {
  z-index: 1;
  position: absolute;
  left: 99px;
  bottom: 80px;
}

.title {
  color: white;
}

.container-mobile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-mobile {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
